# Array :
In python can be implimented using list

## Exercise: Array DataStructure

### Q1
Let us say your expense for every month are listed below,<br/>
January - 2200<br/>
February - 2350<br/>
March - 2600<br/>
April - 2130<br/>
May - 2190<br/>

Create a list to store these monthly expenses and using that find out,

In [1]:
month_exp = [2200,2350,2600,2130,2190]

1. In Feb, how many dollars you spent extra compare to January?

In [2]:
extra = month_exp[1] - month_exp[0]
extra

150

2. Find out your total expense in first quarter (first three months) of the year.

In [3]:
q_total = sum(month_exp[:3])
q_total

7150

3. Find out if you spent exactly 2000 dollars in any month

In [4]:
for i in range(len(month_exp)):
    if month_exp[i] == 2000:
        print(i+1)

No month as per our data

4. June month just finished and your expense is 1980 dollar. Add this item to our monthly expense list

In [5]:
month_exp.append(1980)
month_exp

[2200, 2350, 2600, 2130, 2190, 1980]

5. You returned an item that you bought in a month of April and
got a refund of 200$. Make a correction to your monthly expense list
based on this

In [6]:
month_exp[3] = month_exp[3] -200
month_exp

[2200, 2350, 2600, 1930, 2190, 1980]

### Q2
You have a list of your favourite marvel super heros.<br/>
Using that find out,

In [7]:
heros=['spider man','thor','hulk','iron man','captain america']
heros

['spider man', 'thor', 'hulk', 'iron man', 'captain america']

1. Length of the list

In [8]:
print(len(heros))

5

2. Add 'black panther' at the end of this list

In [9]:
heros.append("black panther")
heros

['spider man', 'thor', 'hulk', 'iron man', 'captain america', 'black panther']

3. You realize that you need to add 'black panther' after 'hulk',
   so remove it from the list first and then add it after 'hulk'

In [10]:
heros.remove('black panther')
heros

['spider man', 'thor', 'hulk', 'iron man', 'captain america']

In [11]:
heros.insert(3,'black panther')
heros

['spider man', 'thor', 'hulk', 'black panther', 'iron man', 'captain america']

4. Now you don't like thor and hulk because they get angry easily :)
   So you want to remove hulk from list and replace with doctor strange (because he is cool).
   Do that with one line of code.

In [12]:
heros[2]="doctor strange"
heros

['spider man',
 'thor',
 'doctor strange',
 'black panther',
 'iron man',
 'captain america']

5. Sort the heros list in alphabetical order (Hint. Use dir() functions to list down all functions available in list)

In [13]:
dir(list)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [14]:
heros.sort()
heros

['black panther',
 'captain america',
 'doctor strange',
 'iron man',
 'spider man',
 'thor']

### Q3

Create a list of all odd numbers between 1 and a max number. Max number is something you need to take from a user using input() function

In [15]:
print("Enter a number, odd numbers will be printed up to that number")
n = int(input())

Enter a number, odd numbers will be printed up to that number
10

In [16]:
odd_num = [i for i in range(1,n+1) if i%2!=0]
odd_num

[1, 3, 5, 7, 9]